div.square {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #131313;
    border: 1px solid white;
    margin-right: 3px;
    margin-bottom: 3px;
    text-align: center;
    vertical-align: top;
}

div.square:hover {
    background-color: #232323;
}

div.square-container {
    width: 25.2px;
    margin: 0;
}

div.game {
    padding: 0;
    margin: auto;
    width: 252px;
}

.info {
    width: 100%;
    text-align: center;
    padding-bottom: 12px;
}

body {
    background-color: #131313;
    color: white;
    font-family: monospace;
}